<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mon site web{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <form action="{% url 'test' %}" method="get">
        <button type="submit">Accéder à la page test</button>
    </form>
</head>
<body>
    <header>
        <h1>{% block heading %}Mon site web{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        
    </footer>
</body>
</html>
