{% extends 'base.html' %}

{% block content %}
  <h1>Ajouter une traduction</h1>
  <form method="POST" action="{% url 'ajouter_traduction' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer</button>
  </form>
{% endblock %}


{% block content %}
  <h1>Traductions</h1>
  <form method="POST" action="{% url 'test' %}">
    {% csrf_token %}
    <button type="submit">Afficher tout</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Titre original</th>
        <th>Titre anglais</th>
        <th>Titre français</th>
      </tr>
    </thead>
    <tbody>
      {% for traduction in donnees %}
        <tr>
          <td>{{ traduction.product_category_name }}</td>
          <td>{{ traduction.product_category_name_english }}</td>
          <td>{{ traduction.product_category_name_french }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %} 